{% extends "layout_guidance.html" %}

{% block page_title %}
  Introduction: new designers
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li>
        <a href="/service-manual">Service manual</a>
    </li>
    <li>
        <a href="/service-manual/communities">Communities</a>
    </li>
    <li>
        <a href="#">Design community</a>
    </li>
    <li>
        New designers
    </li>
  </ol>
</div>

<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge"><span class="design-pattern">Induction
      <br></span>Starting as a designer in government
      </h1>

      <p class="lede">
        Information and resources for designers new to government.
      </p>

    <br>

    <p class="design-update">
    Last updated: 9 July 2016
    </h3>

    <br>
    <br>

  </div>
</div>

<div class="grid-row">
    <div class="column-one-third">

  <p class="bold">Page contents:</p>

  <ol class="list list-bullet pattern_nav">
    <li><a href="#1">what you're part of</a></li>
    <li><a href="#2">how we do stuff</a></li>
    <li><a href="#3">find the prototype kit and patterns</a></li>
    <li><a href="#4">get training</a></li>
    <li><a href="#5">get involved</a></li>
    <li><a href="#6">go to the design meetup</a></li>
    <li><a href="#7">useful links</a></li>
  </ol>

  </div>

  <div class="column-two-thirds">

  <h3 class="heading-medium" id="1" style="margin-top: 0px;">What you're part of</h3>

  <p>There are 300 designers in government. All the designers are part of a design community.</p>

  <p>The design community supports everyone who's designing public services to make them usable, accessible and consistent for users.</p>

  <p>10 heads of design in departments across government and GDS's design team lead the community.</p>

  <p><a href="https://www.gov.uk/service-manual/user-centred-design/index.html">Design community page</a></p>

  <hr>

  <h3 class="heading-medium" id="2">How we do things</h3>

  <p>Design in government is user-centred. This means that every design decision should be based on user needs, and those user needs should all come from <a href="#">user research</a>.</p>

  <p>Start with needs is one of our <a href="https://www.gov.uk/design-principles">10 design principles</a>.</p>

  <hr>

  <h3 class="heading-medium" id="3">Find prototype kit and patterns</h3>

  <p><a href="https://github.com/alphagov/govuk_prototype_kit">GOV.UK prototype kit</a> provides a simple way to make interactive prototypes that look like pages on GOV.UK.</p> 

  <p>Use prototypes to show ideas to anyone you work with, and test those ideas with users.</p>


  <p>Use our tested <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns">patterns</a> when you're building your service, for example, addresses in forms or how to ask users about gender and sex.</p> 

  <p>Reusing these patterns will save you time and effort, for example when you're working on problems which someone has already solved.</p>

  <hr>

  <h3 class="heading-medium" id="4">Get training</h3>

  <p>GDS provide training for designers in government. You can get 3 days of training - sessions are held every 6 weeks at GDS in London.</p>

  <p>Training includes all of the following:</p>

  <p>Talks:</p>

  <ul class="list list-bullet">
    <li>the rule of design in government</li>
    <li>designing in an agile team</li>
    <li>case studies</li>
  </ul>

  <p>Introductions to:</p>

  <ul class="list list-bullet">
    <li>user research</li>
    <li>service design</li>
    <li>interaction design</li> 
    <li>graphic design</li>
    <li>content design</li>
    <li>accessibility</li>
  </ul>
  
  <p>Practical skills:</p>

  <ul class="list list-bullet">
    <li>prototyping</li>
    <li>journey mapping</li>
    <li>design crits</li>
  </ul>

  <p>The third day is dedicated to HTML prototyping - you'll learn how to use the GOV.UK Prototyping Kit.</p>

  <p>Find out more about the training. Email <a href="#">Olivia Streatham</a> to book a place.</p>

  <hr>

  <h3 class="heading-medium" id="5">Get involved</h3>

  <p>Use any of the following to get advice, discuss work or share ideas:</p>

  <ul class="list list-bullet">
    <li>email the <a href="digital-service-designers@digital.cabinet-office.gov.uk">design mailing list</a></li>
    <li>use the cross government <a href="#">design Slack channel</a></li>
    <li>write in the <a href="https://designpatterns.hackpad.com/">design pattern wiki</a></li>
    <li><a href="gds-designers@digital.cabinet-office.gov.uk">arrange a design crit</a> with one of the GDS design team</li>
  </ul>

  <hr>

  <h3 class="heading-medium" id="6">Go to the design meetup</h3>

  <p>You should go to the designers in government meet ups. These happen every 8 weeks in different cities across the UK.</p> 

  <p>Use the meet ups for any of the following:</p> 

  <ul class="list list-bullet">
    <li>updates from heads of design and GDS</li>
    <li>show and tells from service teams</li>
    <li>guest speakers from outside government</li>
    <li>time to hang out with other designers</li>
  </ul>

  <p>The next meeting is on <span class="bold">6 September 2016</span> in <span class="bold">Leeds</span>.</p> 

  <p><a href="#">Register to attend</a></p>

  <hr>

  <h3 class="heading-medium" id="7">Useful links</h3>

  <p>Resources:</p>

  <ul class="list list-bullet">
    <li><a href="https://www.gov.uk/design-principles">design principles</a></li>
    <li><a href="https://github.com/alphagov/govuk_prototype_kit">GOV.UK prototype kit</a></li>
    <li><a href="http://govuk-elements.herokuapp.com/">GOV.UK elements</a></li>
    <li><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns">patterns</a></li>
    <li><a href="https://www.gov.uk/service-manual">Service Manual</a></li>
    <li><a href="https://www.gov.uk/service-manual/service-standard">Service Standard</a></li>
  </ul>

  <p>Blogs:</p>

  <ul class="list list-bullet">
    <li><a href="https://designnotes.blog.gov.uk/">GDS design blog</a></li>
    <li><a href="https://gds.blog.gov.uk/">GDS blog</a></li>
    <li><a href="https://userresearch.blog.gov.uk/">User research</a></li>
    <li><a href="https://accessibility.blog.gov.uk/">Accessibility</a></li>
  </ul>

  <p>Blogposts:</p>

  <ul class="list list-bullet">
    <li><a href="https://designnotes.blog.gov.uk/2016/04/22/the-different-types-of-design-in-government/">The different types of design in government</a></li>
    <li><a href="https://gds.blog.gov.uk/2016/04/18/what-we-mean-by-service-design/">What we mean by service design</a></li>
    <li><a href="https://designnotes.blog.gov.uk/2015/07/03/one-thing-per-page/">One thing per page</a></li>
    <li><a href="https://designnotes.blog.gov.uk/2015/09/08/graphic-design-for-government-services/">Graphic design for government services</a></li>
  </ul>

    </div>
  </div>

</main>

{% endblock %}


